<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team42.cs2340.rattrackingapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Team42"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.WelcomeActivity"
            android:label="Team42">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.LoginActivity"
            android:parentActivityName=".Controller.WelcomeActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.LoginActivity" />
        </activity>
        <activity android:name=".Controller.LaunchActivity"
            android:parentActivityName=".Controller.LoginActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.LoginActivity" />
        </activity>
        <activity android:name=".Controller.RegisterActivity"
            android:parentActivityName=".Controller.WelcomeActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.LoginActivity" />
        </activity>
        <activity android:name=".Controller.DataActivity"
            android:parentActivityName=".Controller.LaunchActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.LoginActivity" />
        </activity>
        <activity android:name=".Controller.DetailActivity"
            android:parentActivityName=".Controller.DataActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.LoginActivity" />
        </activity>
    </application>

</manifest>